/*reset default browser styles*
*{
margin: 0:
padding:0:
boxSizing: border-box;
}
/* pageBackground*/

body{
  fontFamily:Abort,sans-seriff;
  background-color: :#f4f4f4;
  display:flex
  justify-content:center;
  align-items:center;
  height:100vh;
}
/*main container*/
.todo-container{
  background-color:black;
  padding:20px;
  border-radius:5px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
  width:300px;
}
/*title*/
.todo-container h1 {
  color:rgba(255, 255, 255, 0.247);
  text-align:center;
  margin-bottom:20px;
}
/*input section*/
.input-section{
  display:flex;
  margin-bottom:20px;
}
/*input box*/
#task-input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:5px;
}
/*add button */
#add-button{
  padding:10px 15px;
  border:none;
  background-color:#a5a7284f;
  color:rgba(255, 255, 255, 0.247);
  border-radius:5px;
  margin-left:10px;
  cursor:pointer;
}
/*task list*/
#task-list{
  list-style:none;
margin-top: 15px;
}
/*individual task item*/
#task-list li{
  background-color:#333;
  color:rgba(255, 255, 255, 0.247);
  padding:10px;
  border-radius:5px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:10px;
}
li button{
  background-color:#ff4d4d;
  border:none;
  color:white;
  padding:5px 10px;
  border-radius:5px;
  cursor:pointer;
}
#tasklist li{
  background-color: #ddd;
  margin-top:10px;
  padding:10px;
  font-size:16px;
}
#tasklist li button{
  background-color:#ff4d4d;
  border:none;
  color:white;
  padding:5px 10px;
  border-radius:5px;
  cursor:pointer;
}